<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyCSPath: Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">

</head>

<body id="page-top" class="bg-white" style="padding-bottom:10%">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-coral fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="home"><img src="/static/logo2.png" height="30" alt="MyCSPath logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="home"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="courseinfo">All Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="saved">Saved Paths</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="profile">My Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center text-coral">
        <header class="text-coral">
            <div class="container text-center">
                <h1 class="shadow-lpurp">Hi, {{ netid }}! Welcome to MyCSPath.</h1>
                <p class="lead text-charcoal">Select filters to start planning your path through CS education!</p>
            </div>
        </header>
    </div>
    <div class="container">
        <form action='results' method='POST'>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary" style="width:150px">Apply Filters</button>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="container bg-lpurp" style="border-radius:  30px">
                        <br>
                        <h3 class="text-center text-charcoal shadow-white">Tracks:</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" id="track1" name="tag" value="applications">
                                <label for="track1">
                                    <p> applications</p>
                                </label><br>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="track2" name="tag" value="systems">
                                <label for="track2">
                                    <p> systems</p>
                                </label><br>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="track3" name="tag" value="theory">
                                <label for="track3">
                                    <p> theory</p>
                                </label><br>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="container bg-lpurp" style="border-radius: 30px">
                        <br>
                        <h3 class="text-center text-charcoal shadow-white">Languages:</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                {% for lang in langs1 %}
                                <input type="checkbox" id="{{lang}}" name="lang" value="{{lang}}">
                                <label for="{{lang}}">
                                    <p> {{lang}}</p>
                                </label><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-7">
                                {% for lang in langs2 %}
                                <input type="checkbox" id="{{lang}}" name="lang" value="{{lang}}">
                                <label for="{{lang}}">
                                    <p> {{lang}}</p>
                                </label><br>
                                {% endfor %}
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
                <div class="col-md-8">
                    <div class="container bg-lpurp" style="border-radius: 30px">
                        <br>
                        <h3 class="text-center text-charcoal shadow-white">Interest Areas:</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                {% for tag in tags1 %}
                                <input type="checkbox" id="{{tag}}" name="tag" value="{{tag}}">
                                <label for="{{tag}}">
                                    <p> {{tag}}</p>
                                </label><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                {% for tag in tags2 %}
                                <input type="checkbox" id="{{tag}}" name="tag" value="{{tag}}">
                                <label for="{{tag}}">
                                    <p> {{tag}}</p>
                                </label><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                {% for tag in tags3 %}
                                <input type="checkbox" id="{{tag}}" name="tag" value="{{tag}}">
                                <label for="{{tag}}">
                                    <p> {{tag}}</p>
                                </label><br>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer class="py-2 bg-coral fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MyCSPath 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

</body>

</html>